<footer>
    <div class="container" style="height: 150PX;">
        <div class="footer-content">
            <div style="text-align: center;">
                <h3><i class="fa fa-light fa-film fa-2xl" style="color: #d7d7ac;"></i> Your Movies</h3>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Movies</a></li>


                </ul>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <P style="text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis rem
            aspernatur quis velit?
            Ratione, libero totam quo molestiae voluptates commodi veniam deserunt maiores quasi nihil
            quisquam quam laudantium veritatis nam? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Exercitationem fugit, a quas animi earum officiis consequatur praesentium autem repellat debitis. Rem at hic
            tempore reiciendis ad repudiandae quisquam sunt nemo?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Voluptatum architecto est enim quis dolorum distinctio aliquam ipsum ab fugiat nobis, vitae quas
            consequuntur quibusdam animi doloribus totam. Doloremque, nostrum fugit.</P>
    </div>

</footer>