

    <header>
        <nav class="navbar">
            <div class="container">
                <h1 class="logo"><i class="fa-solid fa-video " style="color: #d7dce5;"></i> MovieZone </h1>
                <ul class="nav-links">
                    <li><a href="#">Movie</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#"></a></li>

                </ul>
            </div>
        </nav>
    </header>

    <!-- Rest of your website content goes here -->


